<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            margin: 1em, 1em;
            padding: 10em;
            border: 1em red solid;
            
        }

        input {
            margin: 1em;
        }

        label {
            size
        }
    </style>
</head>
<body>
    
    <div>
        {% block uname %}
        {% endblock %}        
    </div>


    <div>
        {% block pword %}
        {% endblock %}         
    </div>
   

    <div>
        {% block pwconfirm %}
        {% endblock %}        
    </div>

    
    <div>
        {% block email %}
        {% endblock %}        
    </div>


</body>
</html>